@charset "utf-8";
/* CSS Document */
@media only screen and (min-width: 269px) and (max-width: 767px) { /*  and (orientation : portrait) */

@viewport{
    zoom: 1.0 !important;
    width: device-width !important;
	}
body {
	width:100% !important;
	min-width:0px !important;
	height:100%;
	background:#337ab4 none !important;
	}
.header, .headerWrapper, #header, #mainMenu, #logo_container, #mainMenuContainer, #content, #q, #searchBoxWrapper, #searchResultsColumn, .list #results_wrapper, #searchBox, .header_container, .list .cell_wrapper, .list .results_bio, .list .results_right, #nm_detail_wrapper, .ui-accordion, #footer, #content {
	width:100% !important;
	height:100% !important;
	clear:both !important;
	padding:0px !important;
	margin:0px !important;
	}
#mainMenuContainer div, #mainMenuContainer span {
	display:block;
	clear:both;
	text-align:left;
	}
#mainMenuContainer {
	margin-bottom:100px;
	}
#libInfoContainer {
	font-size:18px !important;
	}
#libInfoContainer div {
	margin-bottom:5px;
	}
#searchBoxWrapper {
		position:relative !important;
		top:0px !important;
		width:auto !important;		
	}
#searchBox {
	width:auto !important;
	margin:20px !important;
	}
.searchLimitsColumn {
	display:none;
	}

.ui-accordion .ui-accordion-content {
	display:block !important;
	}
#searchBoxesWrapper select, #searchBoxesWrapper input, #searchBoxCentered, #basicSearch, .basicSearch, #searchBoxStyleDiv, #form, #dropDown, #searchField, #buttonsWrapper, #footer, #content, .list .results_bio {
	width:100% !important;
	display:block !important;
	float:none !important;
	clear:both !important;
	margin:0 !important;
	padding:0 !important;
	height:auto !important;
	position:relative !important;
	top:auto !important;
	left:auto !important;
	right:auto !important;
	}
.patron_help, #searchBoxHomeLink, #logo_container {
	display:none !important
	}


/** 
* Site Design
***/
.headerWrapper {
	#mainMenuContainer {
			
	  .pipeSeparator {
		  display:none;
	  }
	  #adaModeDiv {
		  display:none !important;
	  }
	
		#libInfoContainer {
			padding:20px;
			a {
				display:block;
				padding:5px;
				border:solid 1px #fff;
				background-color:#97bfd6;
				font-size:18px !important;
				font-weight:bold;
				text-transform:uppercase;
				font-family:Arial;
				&:hover {
					background-color:#337ab4;
				}
				}  
		   .loginLink, .menuLink {
			  text-align:center;
			  font-size:18px;
			  font-weight:bold;
			  text-transform:uppercase;
				}
			#libInfoLink {
				display:none !important;
				}
			}
	} /* end mainMenuContainer */
	
	#searchBoxWrapper {
		text-align:left;
		#searchBox {
			#basicSearch {
				overflow:hidden;
				#searchLimitDropDown, #restrictionDropDown, #searchField input {
					-webkit-appearance: none !important;
					  padding:5px !important;
					  background-color:#CCC !important;
					  text-align:left !important;
					  display:block !important;
				 	 	}
				#searchField input {
					-webkit-appearance: none !important;
					  padding:10px !important;
					  background-color:#FFF !important;
					  text-align:left !important;
					  display:block !important;
					  -moz-border-radius: 0px;
						border-radius: 0px;
				 	 	}		
				label {
					color:#fff;
					padding:5px;
					text-align:left;
					font-size:18px !important;
					font-weight:bold;
					text-transform:uppercase;
						}
					
				#searchLimitDropDown_icon, #restrictionDropDown_icon, #q_icon, #searchBoxHomeLink {
					display:none !important;
				}
				#searchButton {
					width:auto !important;
					margin:20px 20px 20px 0 !important;
					font-size:18px !important;
					font-weight:bold;
					text-transform:uppercase;
					padding:15px !important;
				}
			}
		}
	}
	#searchBoxWrapper * {
		float:none !important;
		display:block !important;
	}
}


/***
* format
***/

.resultsToolbar_view_btns {
	display:none;
}

.holdSpan, .textit, .list .results_right .button {
	float:left;
	clear:both;
	display:none;
}
.list .cell_wrapper {
		border-bottom:solid 1px #337ab4 !important;
}
.list .results_cell {
	margin:20px !important;
	width:auto !important;
}
.list .results_cell div {

}
.list .results_right, .list .results_bio {
	padding-top:20px !important;
}
.results_top_half .hitNumber {
}
.list .format_container {
	float:right !important;
	top:-30px !important;
}

.results_top_half .results_chkbox, .resultsToolbar_bottom_left, .selectAllCheck, .customDropdown, .navigationImage {
	display:none !important
}

.resultsToolbar_middle {
	text-align:center !important;
	width:auto !important;
	max-width:none !important;
	float:none;
}
.resultsToolbar_right, .resultsToolbar_paginationNumbers {
	clear:both !important;
	width:auto !important;
	min-width:none !important;
	float:none;
}
.resultsToolbar_right .pagination {
	height:auto !important;
	margin:0 !important;
	position:relative;
	top:-10px;
}
.resultsToolbar_paginationNumbers {
	font-size: 2em !important;
}
.sortDropDown {
	float:none !important;
}
#searchBoxAdvancedLink {
	position:relative !important;
	top:-60px !important;
	left:120px !important;
}
.bottomToolbar_right {
	width:100%;
}

}
	